@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --clr-neutral-300: #edede4;
  --clr-neutral-500: #b9ada5;
  --clr-neutral-900: #241a16;

  --clr-brown: #7f3828;

  --clr-accent: var(--clr-brown);
  --clr-background: var(--clr-neutral-300);
  --clr-text: var(--clr-neutral-900);
  --clr-text-secondary: var(--clr-neutral-500);
}

body {
  --_body-padding-inline: 1rem;

  display: grid;
  grid-template-columns: var(--_body-padding-inline) [start] repeat(12, 1fr) [end] var(
      --_body-padding-inline
    );
  grid-template-rows: auto 1fr;

  background-color: var(--clr-background);
  color: var(--clr-text);
  font-family: "Manrope";

  header {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;

    h1 {
      grid-column: 1 / -1;

      color: var(--clr-accent);
      font-size: calc((100vw - 2 * var(--_body-padding-inline)) / 7.1);
      line-height: 1.1;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
    }

    section {
      display: flex;
      justify-content: space-between;
      grid-column: start / end;

      font-size: clamp(0.875rem, 1vw + 0.5rem, 1.125rem);

      nav ul,
      div {
        display: flex;
        gap: 1em;
      }

      nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .language-btn-container {
        display: flex;
        gap: 0.125em;
      }

      button {
        background-color: transparent;
        border: none;
        font-size: inherit;
        padding: 0;

        &:hover,
        &:focus-visible {
          color: var(--clr-accent);
        }

        &:disabled {
          color: var(--clr-text-secondary);
        }
      }
    }
  }
}
