@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --clr-neutral-300: #edede4;
  --clr-neutral-500: #b9ada5;
  --clr-neutral-900: #241a16;

  --clr-brown: #7f3828;

  --clr-accent: var(--clr-brown);
  --clr-background: var(--clr-neutral-300);
  --clr-text: var(--clr-neutral-900);
  --clr-text-secondary: var(--clr-neutral-500);

  --fs-300: clamp(0.75rem, 0.5vw + 0.5rem, 1rem);
  --fs-400: clamp(0.875rem, 1vw + 0.5rem, 1.125rem);
  --fs-500: clamp(1rem, 1.5vw + 0.5rem, 1.5rem);

  --fw-normal: 400;
  --fw-bold: 700;

  --column-gap: 1rem;
}

body {
  --_body-padding-inline: 1rem;

  display: grid;
  grid-template-columns: var(--_body-padding-inline) [start] repeat(12, 1fr) [end] var(
      --_body-padding-inline
    );

  background-color: var(--clr-background);
  color: var(--clr-text);
  font-family: "Manrope";
}

.btn {
  color: var(--clr-accent);
  background-color: transparent;
  border: 1px solid var(--clr-accent);
  border-radius: 999rem;
  font-size: inherit;
  width: fit-content;
  padding: 0.5rem 1rem;
  outline: none;
  transition: color 200ms ease, background-color 200ms ease;

  &:hover,
  &:focus-visible {
    color: var(--clr-background);
    background-color: var(--clr-accent);
  }
}

header,
footer {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;

  h1,
  h2 {
    grid-column: 1 / -1;

    font-size: calc((100vw - 2 * var(--_body-padding-inline)) / 7.1);
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }

  button,
  a {
    outline: none;
    transition: color 200ms ease;
  }
}

header {
  h1 {
    color: var(--clr-accent);
  }

  section {
    display: flex;
    justify-content: space-between;
    grid-column: start / end;

    font-size: var(--fs-400);

    nav ul,
    div {
      display: flex;
      gap: 1em;
    }

    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .language-btn-container {
      display: flex;
      gap: 0.125em;
    }

    button {
      background-color: transparent;
      border: none;
      font-size: inherit;
      padding: 0;

      &:hover,
      &:focus-visible {
        color: var(--clr-accent);
      }

      &.active {
        color: var(--clr-accent);
      }

      &:disabled {
        color: var(--clr-text-secondary);
      }
    }
  }
}

footer {
  row-gap: var(--column-gap);
  background-color: var(--clr-accent);
  color: var(--clr-background);
  margin-block: 2rem 0;
  padding-block: 0 1rem;

  .footer-container {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: start / end;
    gap: var(--column-gap);
  }

  section {
    display: grid;
    grid-template-columns: subgrid;
  }

  .footer-info {
    --_footer-info-span: 6;

    grid-column: 7 / span var(--_footer-info-span);

    article:nth-of-type(1) {
      grid-column: span calc(var(--_footer-info-span) / 2);
    }

    article:nth-of-type(2) {
      grid-column: 4 / span calc(var(--_footer-info-span) / 2);
    }

    article {
      h6 {
        color: var(--clr-text-secondary);
        margin-block: 0 0.5rem;
      }

      p {
        margin-block: 0 0.25em;
      }
    }
  }

  .footer-links {
    grid-column: start / end;
    align-items: end;

    span,
    ul a {
      color: var(--clr-text-secondary);
      font-size: var(--fs-300);
    }

    span {
      grid-column: span 4;
    }

    ul {
      display: flex;
      justify-content: space-between;
      grid-column: 7 / -1;

      list-style: none;
      margin: 0;
      padding: 0;

      a {
        text-decoration: none;

        &:hover,
        &:focus-visible {
          color: var(--clr-background);
        }
      }
    }
  }
}

main {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;

  section {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: start / end;
    column-gap: var(--column-gap);

    margin-block: 2rem;
  }

  #hero {
    .hero-title {
      grid-column: span 4;

      font-size: var(--fs-500);
      font-weight: var(--fw-bold);
      text-transform: uppercase;
    }

    .hero-subtitle {
      grid-column: 7 / span 4;

      font-size: var(--fs-400);
    }

    img {
      grid-column: 1 / -1;

      margin-block: 2rem 0;
      width: 100%;
      aspect-ratio: 3 / 1;
      object-fit: cover;
      object-position: bottom;
    }
  }

  #northern-atmosphere {
    .northern-atmosphere-header {
      grid-column: 1 / -1;

      margin-block: 0 1rem;

      .northern-atmosphere-title {
        font-size: var(--fs-300);
        margin: 0;
      }

      .northern-atmosphere-subtitle {
        font-size: var(--fs-500);
        font-weight: var(--fw-bold);
        text-transform: uppercase;
        text-wrap: pretty;
        margin: 0;
      }
    }

    .northern-atmosphere-content-container {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / -1;
      gap: var(--column-gap);

      font-size: var(--fs-300);

      > * {
        grid-column: span 6;
      }

      > img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }

      .northern-atmosphere-content-container-right {
        display: grid;
        grid-template-columns: subgrid;
        gap: var(--column-gap);

        .northern-atmosphere-content {
          display: grid;
          grid-template-columns: subgrid;
          grid-column: 1 / -1;

          .northern-atmosphere-content-text {
            grid-column: span 4;
            font-size: var(--fs-300);
            margin: 0;
          }

          button {
            grid-column: 1 / -1;
          }
        }

        img {
          grid-column: span 3;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  #menu {
    > img {
      grid-column: span 3;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }

    .menu-content-container {
      grid-column: span 4;

      .menu-title {
        font-size: var(--fs-500);
        font-weight: var(--fw-bold);
        margin-top: 0;
      }

      > p {
        font-size: var(--fs-400);
      }

      ul {
        list-style: circle;
        /* padding: 0; */

        li {
          font-size: var(--fs-400);
          font-weight: var(--fw-bold);
        }
      }
    }
  }
}
